<form asp-action="Index">
<label>Họ tên</label>
<input type="text" name="HoTen">
<label>Địa chỉ ID</label>
<input type="text" name="ID">
<label>Ngày sinh</label>
<input type="text" name="Ngaysinh">
<input type="submit" value="Gửi dữ liệu">
</form>
<h1>@ViewBag.ifPer</h1>